<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ระบบจัดการค่าใช้จ่าย</title>
</head>
<body>
<div class="menubar">
  <div class="container">
    <div class="logo">
      <h1>Studio Shop</h1>
    </div>
    <ul>
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
<header class="header">
  <div class="container">
    <div class="header_area">
      <h1>ส่วนการตรวจสอบและรับซ่อมบำรุง</h1>
      <p>Condition Based Maintenance</p>
    </div>
  </div>
</header>
<main>
  <section class="info1">
    <div class="container">
      <div class="headareainfo">
        <h1>Check and Fix Information</h1>
      </div>
      <div class="info1_area">
        <div class="info11_area">
          <div class="info111_area">

            <h2>3. กรอกข้อมูลของผู้รับมอบ / Consignee Infomation</h2>

          </div>
          <div class="info112_area">
            <label>ชื่อผู้ตรวจสอบ / Name </label><br>
            <input matInput id="box_1" placeholder="Please enter your name" [(ngModel)]="setFix.managerName" name="managerName"><br><br>
            <label>ค่าใช้จ่าย / Cost</label><br>
            <input matInput id="box_1" placeholder="Please enter your phone number" [(ngModel)]="setFix.cost" name="cost"><br>
            <br>
            <p style="color: #red;">{{showError}}</p>
          </div>
          <div class="info113_area">
            <div class="button_area_foot">
              <button mat-button (click)="next()" class="mat-bot">ต่อไป</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
<footer>
  <p>Copyright &copy; 2019 | Ronnakrit Lissanun</p>
</footer>
</body>
</html>
