body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#E0FFFF ;
}


header {
  background-color: #6495ED  ;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: white;
}

nav {
  float: right;
  width: 55%;
  height: 850px;
  background-color: #AFEEEE;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: #6495ED  ;
  padding: 10px;
  text-align: center;
  color: white;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
table {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
button-row button,
button-row a {
  margin-right: 8px;
}


