<mat-toolbar color="primary">
  <mat-toolbar-row>
    <ul>
      <li *ngIf="!isLogin()"><button mat-button (click)="gotoLogin()">ลงชื่อเข้าใช้</button></li>
      <li *ngIf="isLogin()"><button mat-button (click)="gotoSelect()">เลือกห้อง</button></li>
      <li *ngIf="isAdmin()"><button mat-button (click)="gotoRoom()">จัดการห้อง</button></li>
      <li *ngIf="isAdmin()"><button mat-button (click)="gotoCourseMusic()">จัดคอร์สอนดนตรี</button></li>
      <li *ngIf="isUser()"><button mat-button (click)="gotoCourseReserve()">จองคอร์สเรียน</button></li>
      <li *ngIf="isLogin()"><button mat-button (click)="gotoMain()">ซื้ออุปกรณ์</button></li>
      <li *ngIf="isAdmin()"><button mat-button (click)="gotoBill()">จัดการบิลล์ค่าเสียหาย</button></li>
      <li *ngIf="isAdmin()"><button mat-button (click)="gotoPay()">แจ้งการชำระเงิน</button></li>
      <li *ngIf="isAdmin()"><button mat-button (click)="gotoPromotion()">จัดโปรโมชั่น</button></li>
      <li *ngIf="isAdmin()"><button mat-button (click)="gotoClassify()">จัดหมวดหมู่</button></li>
      <li *ngIf="isAdmin()"><button mat-button (click)="gotoAddproduct()">เพิ่มสินค้า</button></li>
      <li *ngIf="isAdmin()"><button mat-button (click)="gotoCheck()">ซ่อมแซมอุปกรณ์</button></li>
      <li *ngIf="isLogin()"><button mat-button (click)="gotoComment()">รีวิวห้องซ้อมดนตรีและบริการอื่นๆ</button></li>
      <li *ngIf="isLogin()"><button mat-button (click)="signOut()">ออกจากระบบ</button></li>
    </ul>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
