<br><br><br><br><br>
<h1 class="aa">PROMOTION</h1>
<br>

<mat-form-field class="example-mid-width">
  <input matInput placeholder="ชื่อโปรโมชั่น" [(ngModel)]="promotinoName">
</mat-form-field>
<br>

<mat-form-field class="example-mid-width">
  <input matInput [matDatepicker]="pickerstart" placeholder="วันที่เริ่ม" [(ngModel)]="startDate">
  <mat-datepicker-toggle matSuffix [for]="pickerstart"></mat-datepicker-toggle>
  <mat-datepicker #pickerstart></mat-datepicker>
</mat-form-field>
<br>
 
  <mat-form-field  class="example-mid-width">
  <input matInput [matDatepicker]="pickerend" placeholder="วันที่สิ้นสุด" [(ngModel)]="stopDate" name=stopDate>
  <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
  <mat-datepicker #pickerend></mat-datepicker>
</mat-form-field>
<br>    
 <mat-form-field class="example-mid-width">
  <input matInput placeholder="code" [(ngModel)]="code">
</mat-form-field>
<br> 

<mat-form-field class="example-mid-width">
  <mat-select placeholder="ประเภทโปรโมชั่น" [(ngModel)]="typePromotinosSelect" name="addPoint">
    <mat-option *ngFor="let gd of typePromotinoss" [value]="gd.id">
      {{gd.typePromotinos}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field class="example-mid-width">
  <mat-select placeholder="ชื่อพนักงาน" [(ngModel)]="staffNameSelect" name="nameStaffs">
    <mat-option *ngFor="let gd of staffNams" [value]="gd.id">
      {{gd.staffName}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<mat-form-field class="example-mid-width">
  <mat-select placeholder="เพิ่มสินค้า" [(ngModel)]="addproductSelect" name="nameCustomers">
    <mat-option *ngFor="let gd of addproducts" [value]="gd.id">
      {{gd.addproduct}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>

<button mat-button color="primary" class="example-mid-width" (click)="insert()">SUBMIT</button> <br>
<button mat-button color="primary" class="example-mid-width" (click)="show()">SHOW-PROMOTION</button>
<br><br>