<mat-toolbar color="primary">
  {{name}}
</mat-toolbar>
<mat-form-field>
  <mat-select placeholder="select date" (valueChange)="selectDate($event)">
    <mat-option *ngFor="let d of date" [value]="d.id">
      {{d.date|date}}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<div *ngIf="isComplete" id="report-text">
  {{reportText}}
</div>
<br>
<form *ngIf="timeTable" (ngSubmit)="onSubmit()">
  <div *ngIf="isPractice(); else elseBlock">
    <div *ngFor="let time of timeTable">
      <mat-checkbox [disabled]="isTrue(time.reserve)"
                    (change)="onChange($event,time.id)">
        {{time.timePeriod.start}} - {{time.timePeriod.end}}
      </mat-checkbox>
    </div>
  </div>
  <ng-template #elseBlock>
    <div *ngFor="let time of timeTable">
      <button mat-stroked-button [disabled]="bookingForm.invalid" type="submit">เลือกวันนี้</button>
    </div>
  </ng-template>
  <br>
  <mat-form-field [formGroup]="bookingForm">
    <input matInput placeholder="ชื่อ-นามสกุล ผู้จอง" id="booking-name" required formControlName="booking">
  </mat-form-field>
  <br>
  <button mat-stroked-button *ngIf="isPractice()" [disabled]="(bookingForm.invalid)||(timeForm.invalid)" type="submit">submit</button>
</form>
