<!DOCTYPE html>
<html lang="en">
<head>
  <title>CSS Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      box-sizing: border-box;
    }
  </style>
</head>
<body>


<header>
  <h2> <p align = "left">ระบบแจ้งชำระค่าบริการผ่านการโอนเงิน</p></h2>
</header>

<section>
  <nav>
    <ul>
    </ul>
  </nav>
  <br>

  <h2 ><p align = "center">โปรดกรอกข้อมูลให้ครบถ้วน!</p></h2><br>

  <h3><p align = "center">ชื่อ</p></h3>
  <p align ="center"><mat-form-field>
    <mat-select   placeholder="โปรดใส่ชื่อ" [(ngModel)]="memberSelect">
      <mat-option *ngFor="let member of members" [value]="member.id">
        {{member.userName}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>


  <h3 ><p align = "center">เลือกวันที่โอนเงิน</p></h3>
 <p align="center"><mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="timeSelect">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
 </mat-form-field></p>




  <h3><p align = "center">เลือกธนาคาร</p></h3>
  <p align ="center"><mat-form-field>
    <mat-select   placeholder="โปรดใส่ธนาคาร" [(ngModel)]="credittypeSelect">
      <mat-option *ngFor="let creditype of credittypes" [value]="creditype.id">
        {{creditype.type}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>

  <h3><p align = "center">เลือกยอดที่ค้างชำระ</p></h3>
  <p align ="center"><mat-form-field>
    <mat-select   placeholder="เลือกยอดที่ค้าง" [(ngModel)]="totalSelect">
      <mat-option *ngFor="let bill of bills" [value]="bill.id">
        {{bill.totalPrice}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>


  <h3><p align = "center">จำนวนเงินที่ได้รับ</p></h3>
  <p align="center"><mat-form-field class="example-full-width">
      <input matInput placeholder="โปรดใส่จำนวนเงิน" id="price1" [(ngModel)]="price">
  </mat-form-field></p>

  <h3><p align = "center">เลือกสถานะ</p></h3>
  <p align ="center"><mat-form-field>
    <mat-select   placeholder="โปรดเลือกสถานะ" [(ngModel)]="statusSelect">
      <mat-option *ngFor="let paidstatus of paidstatuss" [value]="paidstatus.id">
        {{paidstatus.name}}
      </mat-option>
    </mat-select>
  </mat-form-field></p>




  <h3><p align = "center">ชื่อผู้รับ</p></h3>
  <p align="center"><mat-form-field class="example-full-width">
    <input matInput placeholder="โปรดใส่ชื่อผู้รับ" id="receive1" [(ngModel)]="receive">
  </mat-form-field></p><br><br>

  <p align = 'center'> <i class="fa fa-sign-in fa-lg fa-fw"></i><button mat-flat-button color="primary" (click)="insert()">Save</button></p>



</section>

<footer>

</footer>

</body>
</html>
