
<button mat-button color="primary"  class="example-mid-width" routerLink="" >BACK</button>

<br>
<h2>โปรโมชั่น</h2>
<table >
  <tr>
    <th>ID</th>
    <th>วันที่เริ่ม</th>
    <th>วันที่สิ้นสุด</th>
    <th>ประเภทโปรโมชั่น</th>
    <th>สินค้า</th>
    <th>code</th>

  </tr>

  <tr *ngFor="let promotion of promotions">
    <td>{{promotion.id}}</td>
    <td>{{promotion.startDate}}</td>
    <td>{{promotion.stopDate}}</td>
    <td>{{promotion.typepromotion.typePromotinos}}</td>
    <td>{{promotion.product.addproduct}}</td>
    <td>{{promotion.code}}</td>



  </tr>
</table>
<br>


