<mat-toolbar color="primary">
  <span style="font-size: 40px; color: azure">จัดการบิลล์ค่าเสียหาย</span>
</mat-toolbar>
<div class="body">
  <!--         ส่วนกล่องของเลือกปุ่มด้านซ้ายมือ  -->
  <div class="left-body">
    <mat-card class="left-card"></mat-card>

    <!--         ส่วนกล่องของฝั่งเพิ่มข้อมูล  -->
      <mat-card class="addData-card">
        <div class="addData-style">
          <div style="margin-bottom: 10px;">
            <h2><U>เพิ่มข้อมูลบิลล์ค่าเสียหาย</U></h2>
          </div>
          <!--         ส่วนcombobox ของ id บิลล์ค่าห้องซ้อม  -->
          <p>เลือกIDจากบิลล์ค่าห้องซ้อม</p>

          <mat-form-field>
            <mat-select [(ngModel)]="billSelect" name="billid">
              <mat-option *ngFor="let bill of bills" id = "billid" [value]="bill.id" class="showcombobox">
                {{"ID : "+bill.id+" - "}} {{bill.member.userName+" - "}}  {{bill.totalPrice+" บาท -"}} {{bill.date | date}}
              </mat-option>
            </mat-select>
          </mat-form-field>




     <!--         ส่วนกรอกชื่อผู้ที่รับผิดชอบค่าเสียหาย-->
          <br>
            <mat-form-field>
              <div>
                <p>กรอกชื่อผู้รับผิดชอบค่าเสียหาย</p>
              </div>
              <input matInput style="text-align:left;" [(ngModel)]="InputName" id ="contactName"  name="contactName" >
            </mat-form-field>

            <!--         ส่วนกรอกเบอร์โทรผู้รับผิดชอบค่าเสียหาย-->
          <br>
          <mat-form-field>
            <div>
              <p>กรอกเบอร์โทรผู้รับผิดชอบค่าเสียหาย</p>
            </div>
            <input matInput style="text-align:left;" [(ngModel)]="InputTel" id ="contactTel"  name="contactTel" >
          </mat-form-field>





          <!--         ส่วนกรอกรายละเอียดค่าเสียหาย -->
          <br>
            <mat-form-field class="contentbox">
              <div style="text-align:center;">
                <p>กรอกรายละเอียดค่าเสียหาย</p>
                <p>(กดมุมล่างขวาเพื่อขยาย-ลดได้)</p>
              </div>
              <textarea class="contentbox-write" matInput [(ngModel)]="Inputdetail" id = "detail" name="detail"></textarea>
            </mat-form-field>

          <!--         ส่วนกรอกรายละเอียดค่าเสียหาย -->
          <br>
            <mat-form-field>
              <div style="text-align:center;">
                <p>กรอกราคาค่าเสียหายรวมทั้งหมด</p>
              </div>
                <p>(ไม่รวมค่าห้องซ้อมและห้องบันทึกเสียง)</p>

              <input matInput style="text-align:right;"  [(ngModel)]="Inputprice" id = "price" name="price">
            </mat-form-field>
            <div class="bath">บาท</div>

          <!--         ส่วนcombobox ของ สถานะการจ่ายเงิน  -->
          <br>
          <mat-form-field>
            <p>เลือกสถานะการจ่ายเงินของผู้ใช้งาน</p>
            <mat-select  [(ngModel)]="paidStatusSelect" name="paidStatusid">
              <mat-option *ngFor="let paidStatus of paidStatuses" [value]="paidStatus.id">
                {{paidStatus.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <br>
          <!--           ส่วนของปุ่มเพิ่มข้อมูล        -->
          <div style="margin-top: 20px;"><button type="submit" mat-raised-button color="accent" (click)="postBill()">
              <p style="text-align: center;">เพิ่มข้อมูล
              </p>
            </button></div>

            <br>
          <p>{{showCheck}}</p>
            <br>


        </div>
      </mat-card>
  </div>
</div>
