<mat-card style="margin:100px auto;width: 30%;">
<div  style="text-align:center">
    <h2 >คลังสินค้า </h2>



<table >
  <tr>
    <th>ID</th>
    <th>จำนวน</th>
    <th>ราคาต้นทุน</th>
    <th>ราคาขาย</th>
    <th>ชื่อสินค้า</th>
    <th>ประเภทสินค้า</th>
    
  </tr>


  <tr *ngFor="let products of products" >

      <td>{{products.id}}</td>
      <td>{{products.product.number}}</td>
      <td>{{products.product.price}}</td>
      <td>{{products.product.saleprice}}</td> 

      <td>{{products.addproduct}}</td>
      <td>{{products.typeproducts.typeproduct}}</td>
    </tr>
</table>
</div>
  <br>

  <div style="text-align:center" >

      <button mat-raised-button class="Bg" routerLink="">ย้อนกลับ</button>
  
  </div>



  </mat-card>



